//colors of containers
$container-background-primary:#FBFBFB;
$container-border:1px solid #E2E2E2;
$container-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
//colors of home page
$font-color-primary:#000000;
$font-color-secundary:#718096;
//colors of article-details
$font-color-title:#2D3748;
$font-color-content:#718096;
//colors of buttons
$button-color-primary:#6B46C1;
$button-color-text:#fff;
//colors of inputs 
$input-color-text:#4A5568;

